* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Inter', sans-serif;
  background: #080808;
  color: #fff;
}
html, body, #root {
  height: 100%;
}
a { text-decoration: none; }
img { display: block; max-width: 100%; }
.app-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}
